<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/style.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>

  <h1>Co WIN - Winner over COVID 19</h1>
  <div id="cowin-data">
    <div class="grid-container">
      <div class="grid-states">
        <h2>Select a state</h2>
        <ul>
          <li v-for="each_state in all_states">
            <input type="checkbox" v-bind:value="each_state.state_id" v-bind:value="each_state.state_id" v-model="selected_states"/>
            <label v-bind:for="each_state.state_id">{{each_state.state_name}}</label>
          </li>
        </ul>  
      </div>
      <div class="grid-districts">
        <h2>Select a district</h2>
        <ul>
          <li v-for="each_district in all_districts">
            <input type="checkbox" v-bind:value="each_district.district_id" v-bind:value="each_district.district_id" v-model="selected_districts"/>
            <label v-bind:for="each_district.district_id">{{each_district.district_name}}</label>
          </li>
        </ul>
      </div>
      <div>
          Select a Schedule
          <input name="schedule_group" type="radio" value="today" id="today" v-model="schedule_for"/>
          <label for="today">Today</label>
          <input name="schedule_group" type="radio" value="week" id="week" v-model="schedule_for"/>
          <label for="week">This Week</label>
          <input name="schedule_group" type="radio" value="month" id="month" v-model="schedule_for"/>
          <label for="Today">This Month</label>
      </div>
      <div>
          Select Minimum Age
          <input name="Age_group" type="radio" value="18" id="18-above" v-model="min_age"/>
          <label for="18-above">18+</label>
          <input name="Age_group" type="radio" value="45" id="45-above" v-model="min_age"/>
          <label for="18-above">45+</label>
          <input name="Age_group" type="radio" value="all" id="all-above" v-model="min_age"/>
          <label for="18-above">All</label>
        </span>
      </div>
    </div>
    <div v-if="filtered_centers.length > 0">
        Found  {{filtered_centers.length}} centers as listed below
        <table>
          <tr>
            <th>Center Name</th>
            <th v-for="each_date in selected_dates">{{each_date}}</th>
          </tr>
          <tr v-if="filtered_centers!=null" v-for="each_center in filtered_centers">
            <th>
              {{each_center.center_name}}<br/>
              {{each_center.district_name}}<br/>
              {{each_center.state_name}}
            </th>
            <td v-if="each_center.sessions!=null" v-for="each_day in each_center.sessions">
              <span v-if="each_day === undefined">-</span>
              <span v-else>
                {{each_day.available_capacity}} | {{each_day.min_age_limit}}+
              </span>
            </td>
          </tr>
        </table>
      </div>
      <div v-else>
        No vaccine center available according to the filter. Please change the filter or try again later
      </div>
  </div>
  <script src="js/vendor/modernizr-3.11.2.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
  <script>
    var vm = new Vue({
      el : '#cowin-data',
      data : {
        all_states : [],
        all_districts : [],
        all_sessions : [],
        filtered_centers : [],
        selected_states : [],
        selected_districts : [],
        schedule_for : "today",
        min_age : "18"
      },
      created : function() {
        let vm = this;
        axios.get('https://cdn-api.co-vin.in/api/v2/admin/location/states')
          .then(function (response) {
            for (const each_state of response.data.states) {
              vm.all_states.push(each_state);
            }
          })
          .catch(function (error) {
            console.log(error);
          });
      },
      computed : {
        selected_dates : function() {
          let date_id = [];
          let d = new Date();
          let vm = this;
          if (vm.schedule_for == 'today') {
            date_id.push(("0" + d.getDate()).slice(-2) 
              + "-" 
              + ("0" + (d.getMonth() + 1)).slice(-2)
              + "-" 
              + d.getFullYear());
          }
          else if (vm.schedule_for == 'week') {
            for (let days = 0; days < 7; days++) {
              date_id.push( ("0" + d.getDate()).slice(-2) 
                + "-" 
                + ("0" + (d.getMonth() + 1)).slice(-2) 
                + "-" 
                + d.getFullYear());
              d.setDate(d.getDate() + 1);
            }
          }
          else {
            for (let days = 0; days < 30; days++) {
              date_id.push(("0" + d.getDate()).slice(-2) 
                + "-" 
                + ("0" + (d.getMonth() + 1)).slice(-2) 
                + "-" 
                + d.getFullYear());
              d.setDate(d.getDate() + 1);
            }
          }
          return date_id;
        },
        selected_min_age_limit : function() {
          let ret_integer = parseInt(this.min_age);
          if (isNaN(ret_integer)) {
            return 200; // I think no human has ever lived that long
          }
          else {
            return ret_integer;
          }
        }
      },
      watch : {
        selected_states : function () {
          let vm = this;
          vm.all_districts = [];
          for (const each_state_id of this.selected_states) {
            axios.get('https://cdn-api.co-vin.in/api/v2/admin/location/districts/' + each_state_id)
              .then(function (response) {
                for (const each_dist of response.data.districts) {
                  vm.all_districts.push(each_dist);
                }
              })
              .catch(function (error) {
                console.log(error);
              });
          }
        },
        selected_districts : function() {
          this.getVaccineSessions();
        },
        selected_dates : function() {
          this.getVaccineSessions();
        },
        selected_min_age_limit : function() {
          this.filterVaccineSessions();
        }
      },
      methods : {
        getVaccineSessions :  function () {
          var vm = this;
          vm.all_sessions = [];
          if (vm.selected_districts.length <= 0) {
            return;
          }
          for (each_dist_id of vm.selected_districts) {
            for (each_date_id of vm.selected_dates) {
              axios.get("https://cdn-api.co-vin.in/api/v2/appointment/sessions/public/calendarByDistrict", {
                params : {
                  district_id : each_dist_id,
                  date : each_date_id
                }
              }).then(function (response) {
                vm.all_sessions = vm.all_sessions.concat(response.data.centers);
                vm.filterVaccineSessions();
              })
              .catch(function (error) {
                console.log(error);
              });
            }
          }
        },
        filterVaccineSessions : function() {
          var vm = this;
          vm.filtered_centers = [];
          if (vm.all_sessions.length <= 0) {
            //No vaccine centers to fitler
            return;
          }
          for (each_center of vm.all_sessions) {
            let session_found = false;
            let available_sessions = Array(vm.selected_dates.length);
            for (const [index, each_selected_date] of vm.selected_dates.entries()) {
              let selected_date_session = each_center.sessions.find( element => element.date == each_selected_date);
              if (   (selected_date_session)
                  && (selected_date_session.available_capacity > 0) 
                  && (selected_date_session.min_age_limit <= vm.selected_min_age_limit)) {
               session_found = true;
               available_sessions[index] = { available_capacity : selected_date_session.available_capacity,
                min_age_limit : selected_date_session.min_age_limit};
              }
              else
              {
                available_sessions[index] = undefined;
              }
            }
            if (session_found) {
              let vac_center = {
                center_name : each_center.name,
                state_name  : each_center.state_name,
                district_name : each_center.district_name,
                block_name : each_center.block_name,
                pincode : each_center.pincode,
                fee_type : each_center.fee_type,
                sessions : available_sessions
              };
              vm.filtered_centers.push(vac_center);
            }
          }
        }
      }
    })
  </script>

  
  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID.
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script> -->
</body>

</html>
